<!--{% extends 'base.html' %}-->
{% include 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class= "container-fluid my-2 px-4">
<div class="text-center p-3 mb-2 bg-secondary text-white"> <h4> ABOUT US </h4></div>

<img src="/static/Group.jpg" class="d-block w-100" alt="...">
<figcaption class="figure-caption text-center"></figcaption>

<div class="alert alert-success" role="alert">
  <h3 class="text-center">Happy To Introduce</h3>
  <p>Splendid Bioanalytics (SBs) provides customize and user specific data science analytical algorithms, Apps and software on Machine learning and deep learning approaches by using different programming languages like python, Java, R, MATLAB and bash. 
Sbs addresses data science difficult challenges by expertise who has decades of experience in different fields like IoT, Bioinformatics, NGS Data Analysis, We provides basic research and up gradation in Application development in Anriod or IoS, Biotechnology, Pharmaceuticals, Environment Engineering, Chemical Engineering and Electronic and Communication. Our team's has experts who worked or got trained from prime research institutes of world like University of Cambridge (UK), University of Copenhegen (Denmark), Deutsches Krebsforschungszentrum, DKFZ, Germany, Denmark Technical University (Denmark), Banaras Hindu University (BHU, Varanasi, India), Centre for Cellular and Molecular Biology (Hyderabad, India) etc.</p>
  
  <p class="mb-0">Motto of our firm is to linearized the research complexity, according to the objective of a scientific groups and provides detailed graphical and interactive output.  We provide solutions of problems like, IoT, Machine learning, Deep learning apprroaches approaches Genome Assembly of all type of NGS data (Genomics and Transcriptomics), Gene Finding and Annotation, Marker Data Analysis (SSR, SNP etc.), Comparative Genomics, Prediction of Environmental Data (Air and Water Pollutions).</p>
</div>

<div class="text-center p-3 mb-2 bg-secondary text-white"> <h4>MEET OUR TEAM</h4></div>



    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
         <img src="/static/germany.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Dr. Sheikh Nizamuddin </br>Director </h4>
         <h5 style="color:Tomato;">(Research and Operations)</br>
              DKFZ, Germany</h5> </center>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/sanjeev.jpeg" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Dr. Sanjeev Kr. Maurya </br>Director Administration  </h4>
         <h5 style="color:Tomato;">(Exom and Transcriptomics) </br>
              Lucknow, UP</h5> </center>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/bhaiya.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Er. Sachin Kr. Srivastava </br>Director </h4>
         <h5 style="color:Tomato;">(Business Strategy and Planning)</br>
              DKFZ, Germany</h5> </center>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
         <img src="/static/R6.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Mr. Jaswinder Singh </br>CEO </h4>
         <h5 style="color:Tomato;">(Marketing and Enterprises)</br>
              DKFZ, Germany</h5> </center>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/ajith.jpeg" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Dr. Ajit Yadav </br>Application Scientist   </h4>
         <h5 style="color:Tomato;">(Drug Discovery Data) </br>
              Lucknow, UP</h5> </center>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/bhabhi.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Er. Namrata Kulshrestha  </br>Application Scientist  </h4>
         <h5 style="color:Tomato;">(Environmental Data and MATLAB Analyst)</br>
              DKFZ, Germany</h5> </center>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->




    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
         <img src="/static/R6.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Er. Radheshyam Singh </br>Application Developer </h4>
         <h5 style="color:Tomato;">(IoT and Communication)</br>
              DTU, Denmark</h5> </center>
        <p>Electronics and Telecommunication Engineer specialised in IoT and LPWAN Technologies. Having experiences in Electroics, IoT, GIS and Data Analysis.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/R6.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Dr. Sanjeev Kr. Maurya </br>Director Administration  </h4>
         <h5 style="color:Tomato;">(Exom and Transcriptomics) </br>
              Lucknow, UP</h5> </center>
        <p>Automation and control Engineer, Specialized in Embedded product development, analog circuits, Navigation, Robotics, Computer Vision.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/R6.png" class="bd-placeholder-img rounded-circle" width="220" height="220">
        <center> <h4 style="color:Black"> Er. Sachin Kr. Srivastava </br>Director </h4>
         <h5 style="color:Tomato;">(Business Strategy and Planning)</br>
              DKFZ, Germany</h5> </center>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
         <img src="/static/mitul.JPG" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Er. Mitul Verkariya </br>Application Developer </h4>
         <h5 style="color:Tomato;">(Electronics, Python and ML)</br>
              DTU, Denmark</h5> </center>
        <p>Automation and control Engineer, Specialized in Embedded product development, analog circuits, Navigation, Robotics, Computer Vision.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img src="/static/mitul.JPG" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Er. Mitul Verkariya </br>Application Developer </h4>
         <h5 style="color:Tomato;">(Electronics, Python and ML)</br>
              DTU, Denmark</h5> </center>
        <p>Automation and control Engineer, Specialized in Embedded product development, analog circuits, Navigation, Robotics, Computer Vision.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4">
         <img src="/static/mitul.JPG" class="bd-placeholder-img rounded-circle" width="220" height="220">
          <center> <h4 style="color:Black"> Er. Mitul Verkariya </br>Application Developer </h4>
         <h5 style="color:Tomato;">(Electronics, Python and ML)</br>
              DTU, Denmark</h5> </center>
        <p>Automation and control Engineer, Specialized in Embedded product development, analog circuits, Navigation, Robotics, Computer Vision.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
    
    

</div>


    

    
{% endblock body  %}

